body {
    background-image: url('https://i.pinimg.com/originals/f0/fb/4e/f0fb4e08d6585184064d7e958133ca20.gif'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    background-color: #040404; 

    font-family: 'Times New Roman', Times, serif;
    color: #f4f4f4;
}

h1{
    display: flex;
    justify-content: center;
    
}

a:link{
    color:#fffefe
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #0105fe; 
}

a:active {
  color: #ffffff;
}

.info{
    background-color: color-mix(in srgb, #ff8cbeda 0%, #ff001584 100%);
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    justify-content: center;
    width: 1000px;
}

.info2{
    background-color: color-mix(in srgb, #ff8cbeda 0%, #ff001584 100%);
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    justify-content: center;
    width: 800px;
}

.info3{
    background-color: color-mix(in srgb, #ff8cbeda 0%, #ff001584 100%);
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    justify-content: center;
    width: 200px;
}

.Links-home {
    margin-top: 20px;
    background-color: color-mix(in srgb, #ff8cbeda 0%, #ff001584 100%);
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px; 
    width: 125px;
}