body {
    background-image: url('https://i.pinimg.com/736x/b6/cf/bc/b6cfbca0aae4e59d6b55c46abed3454a.jpg'); 

    background-position: center; 

    background-repeat: no-repeat; 

    background-size: cover; 

    background-attachment: fixed; 

    background-color: #f4f4f4; 

    font-family: 'Times New Roman', Times, serif;

    color: #f4f4f4;
}

h1{
    display: flex;
    justify-content: center;
    
}
a:link{
    color:#ffffff
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #fe0101;
}

a:active {
  color: #ffffff;
}