/*Background Image*/ 
body {
    background-image: url('https://cdn.mos.cms.futurecdn.net/AC3eZRkCwtYSgiLgb4WTfT.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    background-color: #f4f4f4; 

    font-family: 'Times New Roman', Times, serif;
    color: #ff0000;
}

/*Box for Games*/
.box-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    
    gap: 20px; 
}

.box-list li {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px; 
    justify-content: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 

    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.box-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px red;
}

/*Link format*/
a:visited {
  color: #ffffff; 
}

a:hover {
  color: #fe0101;
}

.link-box {
    width: 150px;
    background-color: black;
    border: 3px solid #ff0000;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    color: #ffffff;
    justify-content: center;
    
}

/*Box for text*/
.fav-title{
    width: 160px;
    height: 50px;
    background-color: black;
    border: 3px solid #ff0000;
    border-radius: 8px;
    padding: 5px;
    margin: 15px;
    color: #ffffff;
    justify-content: center;
}

/*Title*/
h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

/*Game Explanation*/
.Explanation{
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
/*Image Border Curve*/
.profile-image{
    border: 2px solid #000000;
    border-radius: 5%;
}

/*Game Title*/
.box-title{
    text-align: center;
    font-size: 18px;
}