body {
    background-image: url('https://i.pinimg.com/originals/d0/d4/96/d0d496ec4349a435692e70b87f760794.gif');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    background-color: #f4f4f4; 

    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

table{
    display: flex;
    justify-content: center;
    text-align: center;
    
    border-collapse: collapse;
    width: auto;
}

th, td{
    border: 5px solid;
    padding: 8px;
}

h1{
    display: flex;
    justify-content: center;
}

a:link{
    color:#ffffff
}

a:visited {
  color: #ffffff; 
}

/* Mouse-over (Hover) link */
a:hover {
  color: #fe0101;
}

/* Active (Selected/Clicked) link */
a:active {
  color: #ffffff;
}